include header.pug
.container-fluid(style='margin-top: 100px;')
    .shadow-sm.p-3.mb-5.bg-white.rounded.col-sm-6(style="margin: 0 auto;")
        .part-one.profile

            .col-sm-6(style='margin: 0 auto;')
                label Email address
                input#exampleInputEmail1.form-control.email(type='email' name='email' aria-describedby='emailHelp')
            .col-sm-6(style='margin: 0 auto;')
                label First Name
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Last Name
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Date of Birth
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Gender
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Full Name
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Full Name
                input.form-control.name(type='text')
            .col-sm-6(style='margin: 0 auto;')
                label Full Name
                input.form-control.name(type='text')


        .part-two.parents

        .part-three.academics
        .part-four.activities
        .part-five.self-assessment
include footer.pug