doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Bragsheet
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Custom styles for this template
  link(href='css/modern-business.css', rel='stylesheet')
  // Navigation
include header.pug
header
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
      li(data-target='#carouselExampleIndicators', data-slide-to='1')
      li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner(role='listbox')
      // Slide One - Set the background image for this slide in the line below
      .carousel-item.active(style="background-image: url('./images/stock1.jpeg'); background-position: 0% 25%;")
        .carousel-caption.d-none.d-md-block
          div(style='background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 5px;')
            h3 Welcome to AOIT Bragsheet
            p This is a description for the first slide.
      // Slide Two - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('./images/stock2.jpg'); background-position: 0% 25%;")
        .carousel-caption.d-none.d-md-block
          div(style='background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 5px;')
            h3 Second Slide
            p This is a description for the second slide.
      // Slide Three - Set the background image for this slide in the line below
      .carousel-item(style="background-image: url('./images/stock3.jpg'); background-position: 0% 50%;")
        .carousel-caption.d-none.d-md-block
          div(style='background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 5px;')
            h3 Third Slide
            p This is a description for the third slide.
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
// Page Content
.container
  h1.my-4 Welcome to AOIT Bragsheet
  // Marketing Icons Section
  .row
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Card Title
        .card-body
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        .card-footer
          a.btn.btn-primary(href='#') Learn More
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Card Title
        .card-body
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
        .card-footer
          a.btn.btn-primary(href='#') Learn More
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Card Title
        .card-body
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        .card-footer
          a.btn.btn-primary(href='#') Learn More
  // /.row
  // Portfolio Section
  h2 Portfolio Heading
  .row
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project One
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project Two
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project Three
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project Four
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project Five
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .col-lg-4.col-sm-6.portfolio-item
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Project Six
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.
  // /.row
  // Features Section
  .row
    .col-lg-6
      h2 Modern Business Features
      p The Modern Business template by Start Bootstrap includes:
      ul
        li
          strong Bootstrap v4
        li jQuery
        li Font Awesome
        li Working contact form with validation
        li Unstyled page elements for easy customization
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
    .col-lg-6
      img.img-fluid.rounded(src='http://placehold.it/700x450', alt='')
  // /.row
  hr
  // Call to Action Section
  .row.mb-4
    .col-md-8
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
    .col-md-4
      a.btn.btn-lg.btn-secondary.btn-block(href='#') Call to Action
// /.container
// Footer
include footer.pug
  // /.container
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
