include header.pug
.container-fluid(style='margin-top: 100px;')
  
  .shadow-sm.p-3.mb-5.bg-white.rounded.col-sm-6(style='margin:0 auto;')
    
    
    form.one(action="/register-ap" method="post" style='')
      br
      select.form-control.col-6.school(name='school' style='margin: 0 auto;')
        option(selected disabled) What school are you in?
        option Uncommon Leadership Charter High School - 
        option Brooklyn Lab School - 
        option Academy of Innovative Technology - Vincent Dodero
        option Cypress Hill Prep Academy - 
        option Urban Assembly School for Collaborative Healthcare - 
        option Multicultural High School - 
      br
      select.form-control.col-6(name='grade' style='margin: 0 auto;')
        option(selected disabled) Whate grade are you in?
        option 9
        option 10
        option 11
        option 12
      br
      .form-group.col-sm-6(style='margin:0 auto;')
        label OSIS
        input.form-control.osis(type='number' name='osis' max='999999999' min='0')
      br
      div(style='display: flex; justify-content: center;')
        button.btn.btn-primary#one(type='button' style='margin: 0 auto;') Next


    form.two(action="/register-ap" method="post" style='display: none;')
      
      .form-group.col-sm-6(style='margin:0 auto;')
        label Email address
        input#exampleInputEmail1.form-control.email.border-bottom(type='email' name='email' aria-describedby='emailHelp')
      
      .form-group.col-sm-6(style='margin:0 auto;')
        label Password
        input#exampleInputPassword1.form-control.pass(type='password' name='pass')
      
      .form-group.col-sm-6(style='margin:0 auto;')
        label Confirm Password
        input#exampleInputPassword2.form-control.cpass(type='password')
      
      div(style='display: flex; justify-content: center;')
        button.btn.btn-primary#two(type='button' style='margin: 50px 0px 0px 0px;') Register
      
      h6.error.col-sm-12.mx-auto.text-center.mt-3.text-danger

script
  include ../public/js/register.js
include footer.pug