div {
    margin-top: 30px;
    margin-left: 1px;
}

label {
    font-size: 16px;
    color: gray;
    font-family: Roboto, sans-serif;
    margin: 0px 0px 0px 0px;
    transition: 1s;
    height: 16px;
    width: 50px;
    z-index: -1;
    position: absolute;
}

input {
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: gray 2px solid;
    display: block;
    margin: -18px 0px 0px -3px ;
    z-index: 6;
}

input:focus {
    border-bottom: blue 2px solid;
}

.one{
    background-color: transparent;
    height: 10px;
}