include ../header.pug
.container-fluid(style='margin-top: 100px; height: 800px')
    .shadow-sm.p-3.mb-5.bg-white.rounded.col-sm-6(style="margin: 0 auto;")
        #verify
            .col-sm-6(style='margin:0 auto;')
                p Check your email to verify your account.
include ../footer.pug