include header.pug
.container-fluid(style='margin-top: 100px;')
    .shadow-sm.p-3.mb-5.bg-white.rounded.col-sm-6(style="margin: 0 auto;")

        #part-three.academics.d-none
            .col-sm-10.words(style='margin: 0 auto;')
                h5 What is your current GPA (4.0 scale)?
                input(type='number' min='0.0' max='4.0')
            br


        div.col-sm-12(style='display: flex; justify-content: center;')
            button.btn.btn-primary.part-one(style='margin: 50px 0px 0px 0px;') Next
        h6.error.col-sm-12.mx-auto.text-center.mt-3.text-danger
script
    include ../public/js/academics.js
include footer.pug